<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Works</h1>
    
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore voluptates molestias voluptatum tempore, culpa magni earum architecto possimus pariatur minus nesciunt recusandae voluptatibus repellat cupiditate iure error explicabo repudiandae doloremque similique dolor illum? Enim molestias dolores impedit quae nostrum perferendis maxime, sapiente suscipit aliquam provident cum vero. Blanditiis eum beatae explicabo non similique nobis, quos nihil, accusantium veritatis veniam laborum maxime cum suscipit excepturi facere impedit iure officia quaerat cumque voluptate eius consequuntur porro quidem? Perferendis maiores cupiditate officia, autem voluptates vero expedita reprehenderit a repellat enim, ab recusandae hic dignissimos quidem iusto ex minus obcaecati. Accusantium ipsa consequatur ducimus?</p>
    <a href="/views/home.html">Home </a>
</body>
</html>